html, body {
    height: 100%;
}
#root {
    width: 500px;
    border: 1px solid black;
    height: 100%;
    margin: 0px auto;
}
input, button {
    height: 50px;
}
table {
    border: 1px solid black;
    width: 80%;
    margin: 10px auto;
}
form, .searchbar, input {
    width: 95%;
}
form input {
    width: 20%;
}
form input[type='text'] {
    width: 70%;
}
table td {
    text-align: center;
}
* {
    margin: 10px;
    box-sizing: border-box;
    font-size: 20px;
}